In [ ]:
!pip install nsepy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nsepy
  Downloading nsepy-0.8.tar.gz (33 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from nsepy) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from nsepy) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.3.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nsepy) (7.1.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from nsepy) (4.2.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nsepy) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nsepy) (2022.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (2022.5.18.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (1.24.3)
Building wheels for collected packages: nsepy
  Building wheel for nsepy (setup.py) ... done
  Created wheel for nsepy: filename=nsepy-0.8-py3-none-any.whl size=36084 sha256=10131e380909df27c456340016b10aa7657ec3bdd5f82004dd95bd18ef5bf905
  Stored in directory: /root/.cache/pip/wheels/32/ab/d9/78ceea14cdf6de83376082b3cb0c2999fd77f823e35c47b9ec
Successfully built nsepy

In [2]:
import pandas as pd 
import numpy as np
import matplotlib as plt
import seaborn as sns
df=pd.read_csv('/content/top100companies.csv')

In [3]:
import nsepy
from datetime import date , timedelta
data_s=nsepy.get_history('BSE',start=date.today()-timedelta(days=100),end=date.today()-timedelta(days=0))
data_s=data_s.drop(data_s.columns.difference(['VWAP']),axis=1)
data_s=data_s.rename(columns={"VWAP": "Sensex"})
print(data_s)

             Sensex
Date
2022-03-02  2004.89
2022-03-03  2077.82
2022-03-04  2101.41
2022-03-07  2050.69
2022-03-08  2108.53
...             ...
2022-06-03   757.00
2022-06-06   743.56
2022-06-07   725.28
2022-06-08   717.51
2022-06-09   727.46

[68 rows x 1 columns]

In [4]:
df1=pd.DataFrame()
for i in range(100):
  symbol=df['Symbol'][i]
  data_n=nsepy.get_history(symbol,start=date.today()-timedelta(days=100),end=date.today()-timedelta(days=0))
  data_n=data_n.drop(data_n.columns.difference(['VWAP']),axis=1)
  data_n=data_n.rename(columns={"VWAP": symbol})
  df1=pd.concat([df1,data_n],axis=1)

In [5]:
data=pd.concat([df1,data_s],axis=1)
print(data)

            RELIANCE      TCS  HINDUNILVR  HDFCBANK     HDFC     INFY  \
Date
2022-03-02   2376.69  3537.16     2137.12   1372.96  2285.82  1703.13
2022-03-03   2392.27  3553.27     2112.31   1377.34  2280.23  1722.78
2022-03-04   2338.20  3525.56     2009.04   1359.66  2233.38  1714.49
2022-03-07   2256.84  3491.46     1951.43   1314.70  2127.95  1734.13
2022-03-08   2220.15  3570.91     1926.80   1305.18  2101.30  1771.93
...              ...      ...         ...       ...      ...      ...
2022-06-03   2793.34  3461.63     2295.14   1388.75  2293.69  1540.73
2022-06-06   2775.79  3418.11     2277.53   1380.25  2278.63  1518.42
2022-06-07   2773.03  3375.14     2216.60   1362.41  2249.77  1509.44
2022-06-08   2741.07  3380.99     2199.29   1369.67  2261.92  1502.54
2022-06-09   2763.87  3407.19     2196.82   1368.42  2255.77  1504.92

            KOTAKBANK  BHARTIARTL     ITC  ICICIBANK  ...    HONAUT  \
Date                                                  ...
2022-03-02    1793.63      672.92  214.93     713.82  ...  40621.23
2022-03-03    1792.05      672.86  218.52     705.85  ...  40660.94
2022-03-04    1758.11      657.18  222.66     693.72  ...  39464.28
2022-03-07    1704.80      665.01  223.87     653.29  ...  39059.84
2022-03-08    1698.66      679.19  226.27     654.86  ...  39232.58
...               ...         ...     ...        ...  ...       ...
2022-06-03    1864.20      689.19  273.54     750.04  ...  32052.31
2022-06-06    1861.28      684.27  273.53     746.90  ...  31299.20
2022-06-07    1847.76      680.42  273.48     737.02  ...  31864.64
2022-06-08    1861.06      674.40  270.49     733.36  ...  32535.75
2022-06-09    1852.49      670.14  269.79     728.70  ...  32807.52

            TATAMOTORS    PNB  HINDALCO    GLAXO   3MINDIA      PEL  \
Date
2022-03-02      449.27  35.01    601.25  1531.25  21006.28  2086.00
2022-03-03      443.17  35.35    604.78  1530.52  21033.58  2088.69
2022-03-04      423.93  34.86    601.75  1501.23  20455.65  2047.39
2022-03-07      394.41  34.05    607.83  1505.75  19977.89  1914.94
2022-03-08      387.74  34.56    598.74  1492.32  19893.82  1909.33
...                ...    ...       ...      ...       ...      ...
2022-06-03      435.91  31.83    411.01  1507.13  21499.52  1800.35
2022-06-06      428.71  31.33    404.96  1508.63  20802.32  1772.89
2022-06-07      432.79  31.26    406.52  1511.13  20960.35  1776.49
2022-06-08      435.67  31.35    404.12  1522.58  21000.41  1761.22
2022-06-09      429.88  31.00    398.06  1537.44  20780.52  1736.02

            KANSAINER  ADANITRANS   Sensex
Date
2022-03-02     443.58     2232.09  2004.89
2022-03-03     438.10     2349.90  2077.82
2022-03-04     436.08     2363.03  2101.41
2022-03-07     426.51     2248.15  2050.69
2022-03-08     427.95     2210.88  2108.53
...               ...         ...      ...
2022-06-03     412.79     1982.03   757.00
2022-06-06     412.05     1995.92   743.56
2022-06-07     408.57     2048.85   725.28
2022-06-08     404.35     2074.36   717.51
2022-06-09     400.52     2110.26   727.46

[68 rows x 101 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 2022-03-02 to 2022-06-09
Columns: 101 entries, RELIANCE to Sensex
dtypes: float64(98), object(3)
memory usage: 56.2+ KB

In [7]:
data.describe()

,RELIANCE,TCS,HINDUNILVR,HDFCBANK,HDFC,INFY,KOTAKBANK,BHARTIARTL,ITC,ICICIBANK,...,HONAUT,TATAMOTORS,PNB,HINDALCO,GLAXO,3MINDIA,PEL,KANSAINER,ADANITRANS,Sensex
count,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,...,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000
mean,2581.079853,3535.375735,2152.495441,1397.997941,2283.607794,1659.898235,1791.506324,714.794853,256.914559,724.173088,...,37502.349265,427.836324,34.050294,508.999706,1562.723824,19839.462647,2051.869706,440.816471,2397.582206,1110.737353
std,143.037631,152.209769,111.861578,76.649934,116.395557,162.245775,55.605635,30.038662,14.922148,27.107441,...,3696.473511,17.607322,2.575548,82.171518,52.644937,1175.055980,185.934288,27.104255,244.775110,654.131005
min,2220.150000,3195.480000,1926.800000,1286.320000,2101.300000,1418.990000,1698.660000,657.180000,214.930000,653.290000,...,30544.580000,373.270000,29.040000,392.350000,1476.510000,17521.870000,1677.390000,398.330000,1968.490000,662.890000
25%,2486.897500,3410.847500,2084.375000,1349.082500,2202.547500,1517.820000,1756.952500,690.075000,251.805000,705.865000,...,32681.357500,419.205000,31.410000,420.895000,1522.410000,19218.117500,1889.317500,409.747500,2229.427500,742.722500
50%,2604.655000,3547.755000,2148.155000,1378.795000,2255.095000,1586.840000,1783.575000,709.820000,260.690000,724.965000,...,39461.185000,431.755000,35.140000,529.695000,1551.175000,19994.230000,2077.510000,450.390000,2369.980000,869.455000
75%,2665.472500,3673.695000,2223.592500,1443.185000,2322.207500,1826.755000,1819.670000,738.250000,267.832500,747.817500,...,40158.052500,439.080000,35.950000,583.497500,1596.245000,20835.385000,2217.812500,464.832500,2653.002500,933.480000
max,2823.910000,3813.040000,2371.190000,1651.170000,2721.950000,1906.670000,1935.260000,774.030000,280.220000,769.600000,...,41238.180000,458.180000,37.850000,629.230000,1670.090000,21499.520000,2343.830000,475.590000,2834.540000,2980.280000

In [8]:
data.to_csv('companies_VWAP_data.csv', index = False)
from google.colab import files
files.download("companies_VWAP_data.csv")

In [11]:
data=data.dropna(axis=1)
# data.isna
data.head()

,RELIANCE,TCS,HINDUNILVR,HDFCBANK,HDFC,INFY,KOTAKBANK,BHARTIARTL,ITC,ICICIBANK,...,HONAUT,TATAMOTORS,PNB,HINDALCO,GLAXO,3MINDIA,PEL,KANSAINER,ADANITRANS,Sensex
Date,,,,,,,,,,,,,,,,,,,,,
2022-03-02,2376.69,3537.16,2137.12,1372.96,2285.82,1703.13,1793.63,672.92,214.93,713.82,...,40621.23,449.27,35.01,601.25,1531.25,21006.28,2086.00,443.58,2232.09,2004.89
2022-03-03,2392.27,3553.27,2112.31,1377.34,2280.23,1722.78,1792.05,672.86,218.52,705.85,...,40660.94,443.17,35.35,604.78,1530.52,21033.58,2088.69,438.10,2349.90,2077.82
2022-03-04,2338.20,3525.56,2009.04,1359.66,2233.38,1714.49,1758.11,657.18,222.66,693.72,...,39464.28,423.93,34.86,601.75,1501.23,20455.65,2047.39,436.08,2363.03,2101.41
2022-03-07,2256.84,3491.46,1951.43,1314.70,2127.95,1734.13,1704.80,665.01,223.87,653.29,...,39059.84,394.41,34.05,607.83,1505.75,19977.89,1914.94,426.51,2248.15,2050.69
2022-03-08,2220.15,3570.91,1926.80,1305.18,2101.30,1771.93,1698.66,679.19,226.27,654.86,...,39232.58,387.74,34.56,598.74,1492.32,19893.82,1909.33,427.95,2210.88,2108.53

In [12]:
from sklearn.model_selection import train_test_split
features=data.columns.difference(['Sensex'])
train_x, test_x, train_y, test_y=train_test_split(data[features],data['Sensex'],test_size=0.3,random_state=123)

import statsmodels.api as sm
train_x= sm.add_constant(train_x)
lm=sm.OLS(train_y,train_x).fit()
print(lm.summary())

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Sensex   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                     0.000
Date:                Fri, 10 Jun 2022   Prob (F-statistic):                nan
Time:                        05:43:51   Log-Likelihood:                 1150.7
No. Observations:                  47   AIC:                            -2207.
Df Residuals:                       0   BIC:                            -2121.
Df Model:                          46
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0014        inf         -0        nan         nan         nan
3MINDIA       -0.2987        inf         -0        nan         nan         nan
ADANIGREEN    -0.9010        inf         -0        nan         nan         nan
ADANIPORTS    -0.1115        inf         -0        nan         nan         nan
ADANITRANS     1.2854        inf          0        nan         nan         nan
ALKEM         -0.5013        inf         -0        nan         nan         nan
AMBUJACEM      1.0169        inf          0        nan         nan         nan
ASIANPAINT     2.0236        inf          0        nan         nan         nan
AUROPHARMA     0.0076        inf          0        nan         nan         nan
AXISBANK       0.2198        inf          0        nan         nan         nan
BAJAJ-AUTO    -1.5831        inf         -0        nan         nan         nan
BAJAJFINSV    -0.7550        inf         -0        nan         nan         nan
BAJFINANCE     2.6616        inf          0        nan         nan         nan
BANDHANBNK    -1.0814        inf         -0        nan         nan         nan
BANKBARODA     0.1423        inf          0        nan         nan         nan
BERGEPAINT    -0.1487        inf         -0        nan         nan         nan
BHARTIARTL     1.9417        inf          0        nan         nan         nan
BIOCON        -0.0867        inf         -0        nan         nan         nan
BOSCHLTD      -0.4912        inf         -0        nan         nan         nan
BPCL           1.9829        inf          0        nan         nan         nan
BRITANNIA     -0.9498        inf         -0        nan         nan         nan
CIPLA          2.6140        inf          0        nan         nan         nan
COALINDIA      0.2261        inf          0        nan         nan         nan
COLPAL        -1.1635        inf         -0        nan         nan         nan
DABUR         -0.8985        inf         -0        nan         nan         nan
DIVISLAB      -1.6522        inf         -0        nan         nan         nan
DLF            0.5361        inf          0        nan         nan         nan
DMART          0.8459        inf          0        nan         nan         nan
DRREDDY       -1.6082        inf         -0        nan         nan         nan
EICHERMOT      2.8628        inf          0        nan         nan         nan
GAIL          -0.1768        inf         -0        nan         nan         nan
GLAXO         -4.7159        inf         -0        nan         nan         nan
GODREJCP       0.7421        inf          0        nan         nan         nan
GRASIM         2.7765        inf          0        nan         nan         nan
HAVELLS       -1.2271        inf         -0        nan         nan         nan
HCLTECH        2.4184        inf          0        nan         nan         nan
HDFC          -0.6230        inf         -0        nan         nan         nan
HDFCAMC       -0.3498        inf         -0        nan         nan         nan
HDFCBANK      -0.9986        inf         -0        nan         nan         nan
HDFCLIFE      -1.2978        inf         -0        nan         nan         nan
HEROMOTOCO     0.4268        inf          0        nan         nan         nan
HINDALCO       0.5953        inf          0        nan         nan         nan
HINDPETRO      1.5426        inf          0        nan         nan         nan
HINDUNILVR     3.2608        inf          0        nan         nan         nan
HINDZINC       1.3252        inf          0        nan         nan         nan
HONAUT         0.1444        inf          0        nan         nan         nan
ICICIBANK      1.7035        inf          0        nan         nan         nan
ICICIGI       -3.0793        inf         -0        nan         nan         nan
ICICIPRULI     0.7574        inf          0        nan         nan         nan
IGL            2.0039        inf          0        nan         nan         nan
INDIGO        -1.1905        inf         -0        nan         nan         nan
INDUSINDBK     0.6528        inf          0        nan         nan         nan
INFY          -0.2565        inf         -0        nan         nan         nan
IOC            0.6748        inf          0        nan         nan         nan
ITC            0.2172        inf          0        nan         nan         nan
JSWSTEEL      -1.8549        inf         -0        nan         nan         nan
KANSAINER     -2.0251        inf         -0        nan         nan         nan
KOTAKBANK      1.2052        inf          0        nan         nan         nan
LT             1.3539        inf          0        nan         nan         nan
LTI            0.3041        inf          0        nan         nan         nan
LUPIN          1.7546        inf          0        nan         nan         nan
M&M           -2.1917        inf         -0        nan         nan         nan
MARICO        -1.9015        inf         -0        nan         nan         nan
MARUTI        -1.6201        inf         -0        nan         nan         nan
MCDOWELL-N    -1.5323        inf         -0        nan         nan         nan
MRF            0.0712        inf          0        nan         nan         nan
MUTHOOTFIN    -2.4431        inf         -0        nan         nan         nan
NAUKRI        -0.6977        inf         -0        nan         nan         nan
NMDC          -0.5631        inf         -0        nan         nan         nan
NTPC           0.4132        inf          0        nan         nan         nan
ONGC           0.0302        inf          0        nan         nan         nan
PEL            0.5682        inf          0        nan         nan         nan
PETRONET       0.0744        inf          0        nan         nan         nan
PFC           -0.0609        inf         -0        nan         nan         nan
PGHH           0.4885        inf          0        nan         nan         nan
PIDILITIND    -0.0074        inf         -0        nan         nan         nan
PNB           -0.0488        inf         -0        nan         nan         nan
POWERGRID     -0.2599        inf         -0        nan         nan         nan
RELIANCE       0.0270        inf          0        nan         nan         nan
SBICARD        2.3843        inf          0        nan         nan         nan
SBILIFE        0.8460        inf          0        nan         nan         nan
SBIN           1.0163        inf          0        nan         nan         nan
SHREECEM      -0.0902        inf         -0        nan         nan         nan
SIEMENS        0.6454        inf          0        nan         nan         nan
SUNPHARMA     -2.0909        inf         -0        nan         nan         nan
TATAMOTORS     0.6100        inf          0        nan         nan         nan
TATASTEEL     -2.8022        inf         -0        nan         nan         nan
TCS            2.3565        inf          0        nan         nan         nan
TECHM          0.0845        inf          0        nan         nan         nan
TITAN         -0.9797        inf         -0        nan         nan         nan
TORNTPHARM     2.3620        inf          0        nan         nan         nan
UBL           -2.8444        inf         -0        nan         nan         nan
ULTRACEMCO     1.1449        inf          0        nan         nan         nan
UPL           -3.5671        inf         -0        nan         nan         nan
VEDL          -0.7895        inf         -0        nan         nan         nan
WHIRLPOOL     -0.0818        inf         -0        nan         nan         nan
WIPRO          0.5560        inf          0        nan         nan         nan
YESBANK       -0.0039        inf         -0        nan         nan         nan
==============================================================================
Omnibus:                        1.229   Durbin-Watson:                   1.347
Prob(Omnibus):                  0.541   Jarque-Bera (JB):                1.145
Skew:                          -0.361   Prob(JB):                        0.564
Kurtosis:                       2.746   Cond. No.                     3.27e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The input rank is higher than the number of observations.
[3] The condition number is large, 3.27e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)
/usr/local/lib/python3.7/dist-packages/statsmodels/regression/linear_model.py:1648: RuntimeWarning: divide by zero encountered in true_divide
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
/usr/local/lib/python3.7/dist-packages/statsmodels/regression/linear_model.py:1649: RuntimeWarning: invalid value encountered in double_scalars
  * (1 - self.rsquared))
/usr/local/lib/python3.7/dist-packages/statsmodels/regression/linear_model.py:1665: RuntimeWarning: divide by zero encountered in double_scalars
  return self.ssr/self.df_resid
/usr/local/lib/python3.7/dist-packages/statsmodels/regression/linear_model.py:1578: RuntimeWarning: divide by zero encountered in double_scalars
  return np.dot(wresid, wresid) / self.df_resid

those companies which is having higher magnitude coefficient are contributing in sensex index.

In [28]:
print('Parameters: ', lm.params)
print('R2: ', lm.rsquared)

Parameters:  const        -0.001363
3MINDIA      -0.298663
ADANIGREEN   -0.901030
ADANIPORTS   -0.111485
ADANITRANS    1.285351
                ...
UPL          -3.567061
VEDL         -0.789485
WHIRLPOOL    -0.081786
WIPRO         0.556019
YESBANK      -0.003902
Length: 98, dtype: float64
R2:  1.0

In [13]:
test_x = sm.add_constant(test_x)
y_pred = lm.predict(test_x)
 
from sklearn import metrics
import numpy as np

print ('MAE:', metrics.mean_absolute_error(test_y, y_pred))
print ('MSE:', metrics.mean_squared_error(test_y, y_pred))
print ('RMSE:', np.sqrt(metrics.mean_squared_error(test_y, y_pred)))

MAE: 234.2824651614403
MSE: 86615.9263806415
RMSE: 294.3058381694823

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [14]:
# from sklearn.linear_model import LinearRegression
# model=LinearRegression()
# reg =  model.fit(train_x,train_y)

# print(model.coef_)

# print(model.intercept_)

[ 0.85096827 -0.33451794 -1.0567398  -1.67974146  1.41682797 -0.58283988
  1.07988206  2.9465423  -0.07202044  0.73391622 -1.71446189 -0.88292013
  3.02291811 -1.6769584   0.10596115  0.01684351  3.00754317 -0.91557676
 -0.49580689  1.92888389 -0.5505842   2.09215747  0.25257481 -1.11895863
 -0.8070211  -1.03928216  0.16586854  0.64618056 -1.47978335  2.63155144
  0.20902121 -4.21320376 -0.23701212  2.32397931 -2.12875859  1.39359596
 -0.90800326 -0.22634938 -1.27133315 -0.7815658   0.76323102  1.7096253
  1.7915093   2.00674013  1.55305994  0.16276558  2.28184045 -2.77000952
  0.15913322  1.31857873 -1.59540973  1.1395333  -1.34516773  0.85279517
  0.01061638 -1.81539165 -2.36822386  1.12162546  0.91861081  0.41179012
  1.74910629 -2.29347344 -2.16564606 -1.37487301 -2.54690697  0.08527634
 -2.10346464 -0.82572149 -0.39915712  0.62490761  0.24310988  0.21534709
  0.20977776 -0.04281586  0.37102561  0.14376892 -0.074947   -0.10006882
  0.66269456  1.60250063 -0.30739087  1.05061118 -0.03925141  3.0627057
 -1.21276214  0.13629718 -2.97459954  2.84593491  0.96951336 -1.21888242
  2.89533658 -1.82132671  0.479027   -4.15446211 -0.59857749  0.51116473
  0.35889444 -0.00491131]
-5975.568066012858

In [ ]:
# pd.DataFrame(model.coef_,data.columns, columns = ['Coeff'])

In [21]:
# predictions = model.predict(test_x)